@import "varibles";

.main {
  display: flex;
  width: 100%;
  height: 77%;
  background-color: $black-background;
  border-radius: 2rem;
}

.left {
  width: 45%;
  padding: 6rem 1rem 1rem 2rem;
  text-align: center;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill {
  padding: 0.5rem;

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 0.5rem solid $red-background;
    & svg {
      width: 45px;
      height: 45px;
      fill: $grey-background;

      & path {
        fill: $grey-background;
      }
    }
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;

    .mark {
      width: 0.7rem;
      height: 0.7rem;
      border: 3px solid $grey-background;
      border-radius: 50%;

      &__good {
        background-color: $grey-background;
      }
    }
  }
}

.subtitle {
  display: inline-block;
  padding: 0.2rem 2rem;
  border-radius: 1rem;
  background-color: $red-background;
  margin: 1.5rem auto;

  &__text {
    font-size: 1.2rem;
    font-weight: bold;
    color: $grey-background;
  }
}

